## Basic Programming ## 
You can test yourself some of the examples from the first programming module

### Data types - values

- Numerical types
    - Integer numbers: `3`, `16213254`, `10`, `3+3` (results is `6` integer)
    - Floating numbers: `3.14`, `1.99`, `0.13`, `10/3` (result is `3.3333` a floting number)

- Text types
    - Character: `a`, `A`, `&`, `/`, `4` (as symbols from your keyboard)
    - String: `aaA`, `123 Charles St.`, `+1(647)456-7891`, `Jan/15/2021` (collection/list of multiple characters)

### Expressions: Operators ###

**Arithmatic operators**

Used to perfom calculations such as adding two numbers.

In [ ]:
# importing the math library so we can use the `sin()` function
import math

In [6]:
2+5-1

6

In [7]:
4+2

6

In [8]:
16//3

5

**Comparison operators**

Used to compared two values. Often used in conditionals (to be learned), which allows us to make decisions based on the value or range the data might be in. Ex. Students with `grade>=50` will pass the the course.

Comparisons will result on a *Boolean* value, either `True` or `False`.

In [9]:
#  equality ==
2==2

True

In [10]:
# equality ==
2==7

False

In [11]:
# non-equality !=
2!=7

True

In [12]:
#  inequality <, >, =>, =<
3 < 4

True

**Assignment operators**

Used to assign values into a variable. Ex. the results of an arithmatic expression ` result = 3+5`.

In [13]:
a = 7
# shows the value of a
a

7

In [14]:
# multiple assignments
x,y = 4,5
#output their values separately
print(x) 
print(y)
# here is can see as a pair
x,y

4
5

(4, 5)

Logical operators

In [15]:
# both conditions need to be true 
(2==2) and (3==2)

False

In [16]:
# at least one condition need to be true
(2==2) or (3==2)

True

In [17]:
#  not negates the expression
(2==2) and not (3==2)

True

**Expression types**

The expression type is the type resulting from the expression itself.

In [18]:
age = 19
type(age)

int

In [19]:
type(age) is int

True

In [20]:
cost = 99.99
type(cost)

float

In [21]:
type(cost) is float
True

True

### Variables

Assigning values to a variable

In [ ]:
''' When assigning a String into a variable, 
    you need to use the single (') or double quotation (") 
    at start and end of the String value. See examples below:
'''
owner = "George Smith"
interestRate = 6

In [23]:
# printing the value of a variable
print('Owner:', owner)

Owner: George Smith

In [24]:
# using a variable in an expression
interest = 10000 * interestRate
# printing the value
print (interest)

60000

### Functions

Functions work like in Math. Given a variable, you will obtain a result.

Fucntion can either be implemented by someone else, or we can create our own functions.

For example, the function `len()` is native from Python and we can use it to obtain the number of items in a list (or number of character in a String).

In [25]:
name = "George Smith"
length = len(name)
print('name has', length, 'characters.')

name has 12 characters.

In [26]:
# I wrote this function sin, which receives an argument called x; it returns the sin(x)
def sin(x):
    return math.sin(x)
# using the argument's name to attribute the value to it
deg = -.72
print('sine of', deg,'is', sin(x=deg))

sine of -0.72 is -0.6593846719714731

### Comments in Python

In [27]:
# this is a comment

In [28]:
"""
This is a multi-line comment.
It can have multiple lines of text
"""

'\nThis is a multi-line comment.\nIt can have multiple lines of text\n'