# Lecture examples -- Sequences: lists, strings, tuples

Sequences is a general category for data structures that contain multiple values:
- **list** - a sequence of values of the same type
    - e.g. ['Sylvia Maggiore', 'Lo√Øc Laframboise', 'Xiao Ju']
    - e.g. [27.5, 18.25, 14.0, 21.75, 16.0]
- **string** - a sequence of characters
    - e.g. 'abcdefghi'
    - e.g. "Xiao Ju"
- **tuple** - a set of related values, which can be of different types
    - e.g. (100000001, 'Sylvia', 'Maggiore', 3.41)
    - e.g. (124, 'Benzene', 0.04, 53)
    
You can access arbitrary elements of both lists and strings with `[]`
- Inside the square brackets, the index of the element is provided
- Indices begin at 0
    - i.e. `list[0]` is the first element in list, `list[1]` is the second
- You can also use negative numbers, which count from the end of the sequence

See the example below:

In [48]:
list = [0,1,2,3,4,5,6,7,8,9]
#print element on the position with index 3
print(list[3])
name = 'Carla'
print(name[0]) #print element on the position 0 - letter 'C'
print(name[-1])

3
C
a

## Lists
A list is a sequence of elements of the same type

We can create lists of any type (see examples below):
- Boolean (True/False)
- Numbers
- Strings
- Lists
- Tuples

In [49]:
integerList = [1,2,3,4,5]
stringList = ["this", "is", "a", "sentence"]
floatingPointList = [1.1, 2.1, 3.1]

A 2D list (i.e. a matrix) is just a list of lists

In [50]:
list1 = [2,3,4,5]
list2 = [2,4,6,8]
list3 = [5,4,3,2]
#matrix1 list is a list of lists
matrix1 = [list1, list2, list3]
print(matrix1[1]) # prints the element index 1 of matrix1 - [2,4,6,8]
print(matrix1[1][2])#prints the element indexed at 2 from the element indexed at 1 -  6
#matrix2 is also a list of lists
matrix2 = [[1,2,3],[4,5,6],[7,8,9]]
print(matrix2[1]) # prints the element index 1 of matrix2 - [4,5,6]
print(matrix2[1][2])  #prints the element indexed at 2 from the element indexed at 1 -  6

[2, 4, 6, 8]
6
[4, 5, 6]
6

Adding new elements to a list

Examples of `insert` and `append`

In [51]:
list = [0,2,4,6,8]
list.insert(4, 7)   # [0,2,4,6,7,8]
print(list)
list.append(10)     # [0,2,4,6,7,8,10]
print(list)

[0, 2, 4, 6, 7, 8]
[0, 2, 4, 6, 7, 8, 10]

Removing elements

Examples of `remove` and `pop`

In [52]:
list = [1,2,4,6,8]
list.remove(4)     # [1,2,6,8]
print(list)
list.pop()         # [1,2,6]
print(list)
list.pop(0)        # [2,6]
print(list)

[1, 2, 6, 8]
[1, 2, 6]
[2, 6]

Slicing parts of a list

Examples using `[:]`

In [53]:
list = [1,2,3,4,5,6,7,8,9,10]
print(list[3:6])     # [4,5,6]
print(list[:4])      # [1,2,3,4]
print(list[5:])      # [6,7,8,9,10]

[4, 5, 6]
[1, 2, 3, 4]
[6, 7, 8, 9, 10]

Stepped slice example:

`[start_index : end_index : step_size]`

list = [1,2,3,4,5,6,7,8,9,10]
print(list[2:8:2])   # [3,5,7]
print(list[1:10:3])  # [2,5,8]

Other functions

Example:

In [54]:
list = [1,2,3,4,5,6,7,8,9,10]
print(len(list))
print(max(list))
print(min(list))
for x in range(0,len(list)):
    print(x)

10
10
1
0
1
2
3
4
5
6
7
8
9

List membership examples using `in` and `not in`

In [55]:
list = [1,2,3,4,5,6,7,8,9,10]
if 3 in list:
    print('Found three')
print(list.index(3))
print(list.count(3))
print(list.index(20))  # generates an error - no element 20 in the list
# how would you fix it? How can we avoid fetching an element that is  not in the list?

Found three
2
1

ValueError: 20 is not in list

Concatenating lists or strings. Examples:

In [56]:
list1 = [1,2,3,4,5]
list2 = [6,7,8,9,10]
print(list1 + list2)
str1 = 'The quick brown fox'
str2 = 'jumped over the lazy dog.'
print(str1 + str2)
x = 10
print('x=' + str(x))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
The quick brown foxjumped over the lazy dog.

TypeError: 'str' object is not callable

Repeating sequences. Examples:

In [57]:
print('Hello ' * 5)       # 'Hello Hello Hello Hello Hello '
print(2 * [3,2,1,0])      # [3,2,1,0,3,2,1,0]

Hello Hello Hello Hello Hello
[3, 2, 1, 0, 3, 2, 1, 0]

Using `for` loops with lists:

In [58]:
list = [1,2,3,4,5]
#loop through `list` elements
for element in list:
    print(element)
str = 'abcdefg'
#loop through `str` characters
for character in str:
    print(character)

1
2
3
4
5
a
b
c
d
e
f
g

Using `range`

In [59]:
for x in range(0,10):
    print(x)

list = [1,2,3,4,5,6,7]
for i in range(len(list)):
    print(list[i])

0
1
2
3
4
5
6
7
8
9
1
2
3
4
5
6
7

## Tuples
- A tuple is a set of related values
- Tuple values do not have to be the same type
- Tuple values are usually related to the same concept

In [60]:
customer = "Chad Witherspoon", "2016/09/05", 408.51
product = "Standard Electric Razor", 39.99
trial = 3000, 17.81, 13, 50.0
# paired attribution - eg., coordinate values
x,y = 0,5
print(customer)
print(product)
print(trial)
print(x,y)
print(y)

('Chad Witherspoon', '2016/09/05', 408.51)
('Standard Electric Razor', 39.99)
(3000, 17.81, 13, 50.0)
0 5
5

**Extra resources**
- https://www.w3schools.com/python/python_lists.asp
- https://www.w3schools.com/python/python_tuples.asp